<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!-- Log Settings -->
    <add key="diorbw:Log:Path" value="C:\Temp\" />
    <add key="diorbw:Log:Name" value="DBW_SERVICE" />
    <add key="diorbw:Log:EventLogName" value="Dior Beauty Wall Service" />
    <add key="diorbw:Log:Rotation" value="NEVER" />
    <add key="diorbw:Log:Cache" value="True" />
    <add key="diorbw:Log:Debug" value="True" />
    <add key="diorbw:Log:Error" value="True" />
    <add key="diorbw:Log:Flash" value="True" />
    <add key="diorbw:Log:Info" value="True" />
    <!-- Frequency in seconds -->
    <!-- Recommended times: AppRunningCheck = 120, AppVersionUpdateCheck = 600, ServiceVersionCheck = 600  -->
    <add key="diorbw:Frequency:AppRunningCheck" value="120" />
    <add key="diorbw:Frequency:AppVersionUpdateCheck" value="600" />
    <add key="diorbw:Frequency:ServiceVersionUpdateCheck" value="600" />    
    <!-- Updater settings -->
    <add key="diorbw:Updater:MainFolder" value="C:\dior\" />
    <add key="diorbw:Updater:CurrentFolder" value="current" />
    <add key="diorbw:Updater:TempFolder" value="temp" />
    <add key="diorbw:Updater:ArchiveFolder" value="archive" />
    <add key="diorbw:Updater:ServiceFolder" value="service" />
    <add key="diorbw:Updater:VersionsToKeep" value="3" />
    <add key="diorbw:Updater:FileExtension" value=".dbw" />
    <add key="diorbw:Updater:InfoFilename" value="info.json" />
    <add key="diorbw:Updater:UpdateAtFilename" value="updateAt.json" />
    <add key="diorbw:Updater:WorkingVersion" value="WorkingVersion"/>
    <add key="diorbw:Updater:VersionBacklog" value="3"/>
    <add key="diorbw:Updater:UpdateServiceFolder" value="serviceupdater"/>
    <add key="diorbw:Updater:MaxNumberOfCrashRetries" value="3"/>
    <!-- Process names -->
    <add key="diorbw:Process:Unity" value="DiorProject"/>
    <add key="diorbw:Process:LaunchVideo" value="BeautyWallLaunchVideo"/>
    <add key="diorbw:Process:ProgressDisplay" value="BeautyWallProgressDisplay"/>
    <add key="diorbw:Process:UpdateScreen" value="BeautyWallUpdateScreen"/>
    <add key="diorbw:Process:UpdateService" value="Dior Beauty Wall Service"/>
    <add key="diorbw:Process:UpdateServiceUpdater" value="Dior Beauty Wall Service Updater"/>
    <!-- Restart settings -->
    <add key="diorbw:Restart:MaxNmbrOfRestarts" value="3"/>
    <add key="diorbw:Restart:videoFile" value="C:\dior\service\crash.mp4"/>
    <!-- Updating updater settings -->
    <add key="diorbw:Installer:ScriptsFolder" value="Scripts"/>
    <!-- UnityApp Resolution -->
    <add key="diorbw:UnityApp:Width" value="3840"/>
    <add key="diorbw:UnityApp:Height" value="540"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>