<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!-- Log Settings -->
    <add key="diorbw:Log:Path" value="C:\Temp\" />
    <add key="diorbw:Log:Name" value="DBW_SERVICE" />
    <add key="diorbw:Log:EventLogName" value="Dior Beauty Wall Service" />
    <add key="diorbw:Log:Rotation" value="NEVER" />
    <add key="diorbw:Log:Cache" value="True" />
    <add key="diorbw:Log:Debug" value="True" />
    <add key="diorbw:Log:Error" value="True" />
    <add key="diorbw:Log:Flash" value="True" />
    <add key="diorbw:Log:Info" value="True" />
  </appSettings>
</configuration>