<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!-- Log Settings -->
    <add key="diorbw:Log:Path" value="C:\Temp\" />
    <add key="diorbw:Log:Name" value="DBW_SERVICE_UPDATE" />
    <add key="diorbw:Log:EventLogName" value="Dior Beauty Wall Service" />
    <add key="diorbw:Log:Rotation" value="NEVER" />
    <add key="diorbw:Log:Cache" value="True" />
    <add key="diorbw:Log:Debug" value="True" />
    <add key="diorbw:Log:Error" value="True" />
    <add key="diorbw:Log:Flash" value="True" />
    <add key="diorbw:Log:Info" value="True" />
    <!-- Updater settings -->
    <add key="diorbw:Updater:MainFolder" value="C:\dior\" />
    <add key="diorbw:Updater:CurrentFolder" value="current" />
    <add key="diorbw:Updater:TempFolder" value="temp" />
    <add key="diorbw:Updater:ArchiveFolder" value="archive" />
    <add key="diorbw:Updater:VersionsToKeep" value="3" />
    <add key="diorbw:Updater:FileExtension" value=".dbw" />
    <add key="diorbw:Updater:InfoFilename" value="info.json" />
    <add key="diorbw:Updater:UpdateAtFilename" value="updateAt.json" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!-- Restart settings -->
    <add key="diorbw:Restart:MaxNmbrOfRestarts" value="1"/>
    <add key="diorbw:Restart:videoFile" value="C:\dior\current\data\porte salto.mp4"/>
    <add key="diorbw:Restart:appFile" value="C:\dior\service\BeautyWallLaunchVideo.exe"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>